section.demo_exam
  p.demo_exam__title Демонстрационный экзамен
  .demo_exam__block
    .demo_exam__sidebar
      a.demo_exam__chapter.demo_exam__chapter_active(href="#") Информация
      a.demo_exam__chapter(href="#") Документация
      a.demo_exam__chapter(href="#") Библиотека
      a.demo_exam__chapter(href="#") Сроки проведения
      a.demo_exam__chapter(href="#") Лучшие результаты
      .demo_exam__chapter Модули демо-экзамена
        a.demo_exam__subchapter(href="#") Монтаж
        a.demo_exam__subchapter(href="#") Программирование
        a.demo_exam__subchapter(href="#") Поиск неисправностей

    .demo_exam__content
      block content
