section.library
  p.library__title Категория
  p.library__subtitle
  .library_item__content
    a.library_item(href="#")
      p.library_item__title Название книги
    a.library_item(href="#")
      p.library_item__title Название книги большое большое большое большое большое большое большое большое большое 
