section.profile
  .profile__top_info
    .profile__title_block
      p.profile__title О нас
      p.profile__subtitle Здесь вы сможете ознакомиться с нашими контактами
    .profile__info
      img.profile__img(src= "../images/profile_photo.png")
      .profile__short_info
        p.profile__name ИВАНОВ ПАВЕЛ ДУРОВ
        p.profile__profession Преподаватель монтажа
        .profile__contact_block
          i.profile__big_icon(class="fas fa-envelope fa-2x")
          i.profile__small_icon(class="fas fa-envelope fa-1x")
          .profile__contact pashkakakashka@gmail.com
        .profile__contact_block
          i.profile__big_icon(class="fas fa-map-marker-alt fa-2x")
          i.profile__small_icon(class="fas fa-map-marker-alt fa-1x")
          .profile__contact pashkakakashka@gmail.com
  .profile_bottom_info
    .profile__description_title Описание
    .profile__description Но укрепление и развитие внутренней структуры напрямую зависит от существующих финансовых и административных условий. Высокий уровень вовлечения представителей целевой аудитории является четким доказательством простого факта: укрепление и развитие внутренней структуры позволяет выполнить важные задания по разработке новых принципов формирования материально-технической и кадровой базы. Безусловно, новая модель организационной деятельности предоставляет широкие возможности для позиций, занимаемых участниками в отношении поставленных задач. Лишь базовые сценарии поведения пользователей, превозмогая сложившуюся непростую экономическую ситуацию, превращены в посмешище, хотя само их существование приносит несомненную пользу обществу. Равным образом, убеждённость некоторых оппонентов обеспечивает широкому кругу (специалистов) участие в формировании форм воздействия. С другой стороны, убеждённость некоторых оппонентов создаёт предпосылки для переосмысления внешнеэкономических политик. Противоположная точка зрения подразумевает, что диаграммы связей будут рассмотрены исключительно в разрезе маркетинговых и финансовых предпосылок. Современные технологии достигли такого уровня, что существующая теория позволяет выполнить важные задания по разработке модели развития. Таким образом, постоянное информационно-пропагандистское обеспечение нашей деятельности представляет собой интересный эксперимент проверки анализа существующих паттернов поведения. Внезапно, представители современных социальных резервов лишь добавляют фракционных разногласий и разоблачены. Следует отметить, что базовый вектор развития обеспечивает актуальность своевременного выполнения сверхзадачи.
