include ../news_card/block.pug
secion.news
  .news__title Новости
  .news__content
    - for (var i = 0; i < 9; i++)
      .news__card
        +news_card("ПЕРВАЯ НОВОС skldf jalskd jflaksd jflaksdjf;l askjd flaksdjf;lasТЬ", "Ключевые особенности структуры проекта смешаны с не уникальными данными до степени совершенной неузнаs lkdfjlaskj df;laksj  df;lkasjd;flka sjdfijwelksdnfmasdfjlk;ajs doifjawekfnsd,fmskljfdваемости, из-за чего возрастает их статус бесполезности. Как принято считать, активно развивающиеся ",
          "../images/news_card_item.png",
          "href")
