mixin get_result_card()
  .result_card
    img.result_card__img(src="../images/result_card_img.png")
    .result_card__info
      .result_card__name ИВАНОВ ПАВЕЛ ДУРОВ
      .result_card_course Студент 3-го курса
      .result_card__contact
        i.result_card__icon(class="fas fa-envelope fa-1x")
        .result_card___contact_text pashkakakashka@gmail.com
      .result_card__desc Но укрепление и развитие внутренней структуры напрямую зависит от существующих финансовых и административных условий. Высокий уровень вовлечения представителей целевой аудитории является четким доказательством простого факта:

