extends ../demo_exam_template.block/block.pug
include ../../library/category.block/block.pug
block content
  .library_item__content
    a.library_item(href="#")
      p.library_item__title Название книги
    a.library_item(href="#")
      p.library_item__title Название книги большое большое большое большое большое большое большое большое большое 
