include ../student_card.block/block.pug
section.students
  .students__title Студенты
  .students__content
    .students__cardf
      +student_card("../images/student_card_img.png", "Данилов Данил Андреевич")
    .students__cardf
      +student_card("../images/student_card_img.png", "Данилов Данил Андреевич")
    .students__cardf
      +student_card("../images/student_card_img.png", "Данилов Данил Андреевич")
    .students__cardf
      +student_card("../images/student_card_img.png", "Данилов Данил Андреевич")
    .students__cardf
      +student_card("../images/student_card_img.png", "Данилов Данил Андреевич")
