include ../news_card/block.pug
secion.news
  .news__title Новости
  .news__content
    .news__card
      +news_card("ПЕРВАЯ НОВОСТЬ", "Ключевые особенности структуры проекта смешаны с не уникальными данными до степени совершенной неузнаваемости, из-за чего возрастает их статус бесполезности. Как принято считать, активно развивающиеся ",
        "../images/news_card_item.png",
        "href")
    .news__card
      +news_card("ПЕРВАЯ НОВОСТЬ", "Ключевые особенности структуры проекта смешаны с не уникальными данными до степени совершенной неузнаваемости, из-за чего возрастает их статус бесполезности. Как принято считать, активно развивающиеся ",
        "../images/news_card_item.png",
        "href")
    .news__card
      +news_card("ПЕРВАЯ НОВОСТЬ", "Ключевые особенности структуры проекта смешаны с не уникальными данными до степени совершенной неузнаваемости, из-за чего возрастает их статус бесполезности. Как принято считать, активно развивающиеся ",
        "../images/news_card_item.png",
        "href")
    .news__card
      +news_card("ПЕРВАЯ НОВОСТЬ", "Ключевые особенности структуры проекта смешаны с не уникальными данными до степени совершенной неузнаваемости, из-за чего возрастает их статус бесполезности. Как принято считать, активно развивающиеся ",
        "../images/news_card_item.png",
        "href")
    .news__card
      +news_card("ПЕРВАЯ НОВОСТЬ", "Ключевые особенности структуры проекта смешаны с не уникальными данными до степени совершенной неузнаваемости, из-за чего возрастает их статус бесполезности. Как принято считать, активно развивающиеся ",
        "../images/news_card_item.png",
        "href")
    .news__card
      +news_card("ПЕРВАЯ НОВОСТЬ", "Ключевые особенности структуры проекта смешаны с не уникальными данными до степени совершенной неузнаваемости, из-за чего возрастает их статус бесполезности. Как принято считать, активно развивающиеся ",
        "../images/news_card_item.png",
        "href")
