include ../category.block/block.pug
section.library
  p.library__title Библиотека
  p.library__subtitle В этом разделе вы сможете ознакомиться с учебниками, по <br/> которым мы обучаем наших студентов
  .library__content
    .library__category
      +get_category(
        {link: 'href', title: 'Методическое пособие'},
        {link: 'href', title: 'Практические задания'},
      )
    .library__category
      +get_category(
        {link: 'href', title: 'Методическое пособие'},
        {link: 'href', title: 'Практические задания'},
      )
    .library__category
      +get_category(
        {link: 'href', title: 'Методическое пособие'},
        {link: 'href', title: 'Практические задания'},
      )
    .library__category
      +get_category(
        {link: 'href', title: 'Методическое пособие'},
        {link: 'href', title: 'Практические задания'},
      )
    .library__category
      +get_category(
        {link: 'href', title: 'Методическое пособие'},
        {link: 'href', title: 'Практические задания'},
      )
    .library__category
      +get_category(
        {link: 'href', title: 'Методическое пособие'},
        {link: 'href', title: 'Практические задания'},
      )
    .library__category
      +get_category(
        {link: 'href', title: 'Методическое пособие'},
        {link: 'href', title: 'Практические задания'},
      )
    .library__category
      +get_category(
        {link: 'href', title: 'Методическое пособие'},
        {link: 'href', title: 'Практические задания'},
      )

