extends ../demo_exam_template.block/block.pug
include ../../library/category.block/block.pug
block content
  .demo_exam__categories
    .demo_exam__category
      +get_category(
        {link: 'href', title: 'Методическое пособие'},
        {link: 'href', title: 'Практические задания'},
      )
    .demo_exam__category
      +get_category(
        {link: 'href', title: 'Методическое пособие'},
        {link: 'href', title: 'Практические задания'},
      )
    .demo_exam__category
      +get_category(
        {link: 'href', title: 'Методическое пособие'},
        {link: 'href', title: 'Практические задания'},
      )
    .demo_exam__category
      +get_category(
        {link: 'href', title: 'Методическое пособие'},
        {link: 'href', title: 'Практические задания'},
      )
    .demo_exam__category
      +get_category(
        {link: 'href', title: 'Методическое пособие'},
        {link: 'href', title: 'Практические задания'},
      )
    .demo_exam__category
      +get_category(
        {link: 'href', title: 'Методическое пособие'},
        {link: 'href', title: 'Практические задания'},
      )
    .demo_exam__category
      +get_category(
        {link: 'href', title: 'Методическое пособие'},
        {link: 'href', title: 'Практические задания'},
      )
    .demo_exam__category
      +get_category(
        {link: 'href', title: 'Методическое пособие'},
        {link: 'href', title: 'Практические задания'},
      )
    .demo_exam__category
      +get_category(
        {link: 'href', title: 'Методическое пособие'},
        {link: 'href', title: 'Практические задания'},
      )
